.card {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 0.5rem;
    align-items: center;
    cursor: pointer;
}

.card:hover {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.08);
}

.nowPlaying {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.08);
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 0.5rem;
    align-items: center;
    cursor: pointer;

}

.image {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.details {
    display: flex;
    gap: 0.5rem;
}

.details span {
    display: block;
}

.title {
    font-size: 1rem;
}

.artist {
    font-size: 0.8rem;
    opacity: 0.6000000238418579;
}

.timeStamp {
    opacity: 0.6000000238418579;
    font-size: 0.9rem;
}