@font-face {
  font-family: 'Basier Circle';
  src: url('../public/fonts/basiercircle-regular.otf') format('truetype');
  /* Add more src declarations for other font file formats if needed */
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  background-color: black;
  color:white;
  /* overflow: hidden; */
  overflow-x: hidden;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(10px);s */
  font-family: 'Basier Circle', sans-serif;
  
}
.content{
  outline: 2px solid red;
  height: 100vh;
  width: 25vw;
}